*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --dark-blue: #5673A8;
    --white: #ECEEF1;
    --black: #191A1C;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--dark-blue);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 569px;
    width: 534px;
    background: var(--white);
    position: relative;
}

.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 2px;
    width: 100%;
    height: 114px;
    border-bottom: 1px solid var(--black);
}

.container header h1, .container header h3{
    margin-right: 370px;
    margin-left: 40px;
    width: 30%;
}

.container .results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    height: 534px;
}

.container .results h3{
    font-weight: semi-bold;
    font-size: 24.61px;
    margin-top: 20px;
}

.container .results h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 84px;
    background: #61A4F4;
    border-radius: 50%;
    color: var(--white);    
}

.container button{
    height: 40px;
    width: 131px;
    margin-bottom: 15px;
    background: var(--dark-blue);
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 1px;
}

.container button:hover{
    cursor: pointer;
    opacity: 0.8;
}